<!DOCTYPE html>
<html>
<head>
    <title>Good Army Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag 'sword.ico' %>
</head>
<body>  
    <%= yield %>
  
    <%- if Rails.env.development? || Rails.env.test? -%> 
        <%= javascript_tag do %>
            window.railsEnv = '<%= Rails.env %>'
        <%- end -%>
    <%- end -%>
</body>
</html>

